.fade-in-zoom
  // transition transform ease-out 1s
  opacity unset
  transform-origin center
  animation fade-in-zoom
  animation-duration 500ms
  animation-timing-function ease-out

@keyframes fade-in-zoom
  0%
    transform scale(1.5)
    opacity 0
  100%
    transform scale(1)
    opacity 1
